.header--container {
  // min-height: calc(100vh - #{$s-main} / 2);
  min-height: 100vh;
  background-color: $c-white;
  color: $c-black;
  padding: $s-main / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .author,
  .quote {
    margin: 0;
    z-index: 9;
  }
  .author {
    a {
      color: $c-black;
      text-decoration: none;
      .name {
        display: inline;
      }
      .jobtitle {
        display: none;
      }
      &:hover {
        color: $c-black;
        .name {
          display: none;
        }
        .jobtitle {
          display: inline;
        }
      }
    }
  }
  .quote {
    margin-bottom: $s-main / 2;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    padding: $s-main / 2;
    .quote {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $desktop-breakpoint) {
    padding: $s-main;
  }
}
