.main-container {
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: $s-main / 4;
	background-color: $c-black;
	color: $c-white;
	@media screen and (min-width: $tablet-breakpoint) {
		padding: $s-main / 2;
	}
	@media screen and (min-width: $desktop-breakpoint) {
		padding: $s-main $s-main 0 $s-main;
	}

	.main-container--text-container {
		text-align: left;
		hyphens: auto;
		display: flex;
		flex-direction: column;
		height: 100%;

		.container--col {
			// margin: 0 auto;
			blockquote,
			h2,
			p {
				max-width: $s-main * 8;
				margin-left: auto;
				margin-right: auto;
			}

		}

		@media screen and (min-width: $desktop-breakpoint) {
			//	margin-left: $s-main * 2;
		}

		.text-container--projects {
			p {
				margin-top: $s-main / 2;
			}
			.text-container__links {
				margin: 0;
				padding: 0;
				columns: 2;
				column-gap: $s-main / 2;
				list-style: none;
				width: fit-content;
			}
		}

		.text-container--about {
			.about--picture {
				display: flex;
				margin: $s-main / 2 0 0 0;
				position: relative;
				justify-content: center;
				align-items: center;
				img {
					transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
					max-width: 50vh;
				}

				blockquote {
					text-align: center;
					position: absolute;
					max-width: initial;
					margin: 0;
				}

				@media screen and (min-width: $tablet-breakpoint) {
					margin: $s-main / 2 0;

					img {
						max-width: 65vh;
					}
				}
			}
		}
	}

	.main-container--button {
		background-color: $c-black;
		width: $s-main / 2;
		height: $s-main;
		position: absolute;
		bottom: $s-main / 2;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;

		a,
		span {
			text-decoration: none;
			color: $c-white;
			//transform: rotate(90deg);
			margin: 0 auto;
			line-height: initial;
		}
	}
	@media screen and (min-width: $desktop-breakpoint) {
		margin-top: 0;
	}
}
