.projects--container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: $s-main / 2;
	a {
		display: inline-flex;
		margin-bottom: $s-main / 2;
		width: 100%;
		text-decoration: none;
		color: inherit;
		@media screen and (min-width: $tablet-breakpoint) {
			&:nth-child(odd) {
				margin-right: $s-main / 2;
			}

			width: calc(50% - #{$s-main} / 4);
		}


	}
	.project-item {
		border: 2px solid $c-white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&.empty {
			background-color: $c-white;
			color: $c-black;
			padding: $s-main / 4;
			width: 100%;
			h4 {
				width: 100%;
				font-size: ms(2);
				  @include line-height(2);
			}
		}
		// &:hover {
		// 				border-color: $c-blue;
		// 	// &--button {
		// 	// 	animation: $fadeinBottom;
		// 	//
		// 	// }
		// }



		&--image {
			width: 100%;
		}

		&--info {
			padding: $s-main / 4;

			.info--title {
				font-size: ms(1);
				@include margin-top(0);
				@include line-height(1.5);
			}

			.info--text {
				font-size: ms(0);
				@include line-height(1.25);
			}
		}

		&--button {
			opacity: 0;
			transform: translate3d(0, 3rem, 0) rotateX(10deg) rotateY(-10deg) rotateZ(5deg);

			border-top: 2px solid $c-white;

			a {
				font-size: ms(0);
				text-decoration: none;
				width: 100%;
				color: $c-white;
				display: inline-block;
				margin: $s-main / 4;


			}

			&:hover {
				background: $c-white;

				a {
					color: $c-black;

				}
			}
		}
	}
}
