.scroll-indicator__down {
	display: none;
	position: absolute;
	background-color: $c-black;
	bottom: 0;
	left: calc(50% - 1px);
	height: $s-main / 2;
	width: 2px;
	// @media screen and (min-width: $phablet-breakpoint) and (min-aspect-ratio: 1/1) and (min-height: $column--width * 8) {
	// 	display: none;
	// }
}
