.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
  height: auto;
  @media screen and (min-width: $tablet-breakpoint) {
    flex-direction: column;
    height: 100%;
    padding: $s-main / 2;
  }
  @media screen and (min-width: $desktop-breakpoint) {
  }

  .swiper-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    height: 100%;

    .swiper-slide {
      flex-shrink: 0;
      width: auto;
      height: 100%;
      position: relative;
      transition-property: transform, -webkit-transform;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .project-item--image img,
      .project-item--image picture img,
       .project-item--image picture source {
        width: auto !important;
        height: auto !important;
        max-width: 100vw;
        max-height: 100vw;
        @media screen and (min-width: $tablet-breakpoint) {
          max-width: 100%;
          max-height: 100%;
          width: auto !important;
          height: auto !important;
        }
      }
    }
  }

  .swiper-controls {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    width: 100%;
    flex-direction: row-reverse;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media screen and (min-width: $tablet-breakpoint) {
      position: absolute;
      bottom: 0;
      top: initial;
      transform: translateY(0);
      // position: relative;
      padding: 0;
      margin-bottom: $s-main / 2;
      flex-direction: row;
    }
  }

  .swiper-pagination {
    text-align: left;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;

    &-fraction {
      // bottom: $s-main / 4;
      // left: $s-main / 2;
      font-size: 1.5rem;
      color: $c-black;
    }
  }

  &.black {
    .swiper-pagination-fraction {
      color: $c-black;
    }

    .swiper-button-next,
    .swiper-button-prev {
      background-image: url("../assets/images/icon-arrow_black.svg");
    }
  }

  &.white {
    .swiper-pagination-fraction {
      color: $c-white;
    }

    .swiper-button-next,
    .swiper-button-prev {
      background-image: url("../assets/images/icon-arrow_white.svg");
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  width: $s-main / 4;
  height: $s-main / 4;
  z-index: 10;
  cursor: pointer;
  background-size: $s-main / 4;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url("../assets/images/icon-arrow_black.svg");
  @media screen and (min-width: $tablet-breakpoint) {
    position: absolute;
    background-size: $s-main / 3;
    width: $s-main / 2;
    height: $s-main / 2;
  }
}
// Settings homepage sliders
.swiper-controls {
  padding: 0 $s-main / 4;

  .swiper-button-next {
    @media screen and (min-width: $tablet-breakpoint) {
      right: $s-main / 2;
    }
  }

  .swiper-button-prev {
    transform: rotate(-180deg);
    background-position: right top;
    @media screen and (min-width: $tablet-breakpoint) {
      right: $s-main;
    }
  }

  .swiper-pagination {
    display: none;
    @media screen and (min-width: $tablet-breakpoint) {
      display: block;
      margin-left: $s-main / 2;
    }
  }
}
