@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translate3d(0, 3rem, 0) rotateX(10deg) rotateY(-10deg) rotateZ(5deg);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
    }
}

@keyframes fadeInModal {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0);
    }

    10% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
    }
}

@keyframes scrollIndicator {
    0% {
        transform-origin: center top;
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 0);
        transform-origin: center top;
    }

    50% {
        transform: scale(1, 0);
        transform-origin: center bottom;
    }

    100% {
        transform-origin: center bottom;
        transform: scale(1, 1);
    }
}
