.text-container--about {
	.about--picture {
		display: flex;
		margin: $s-main / 2 0;
		position: relative;
		justify-content: center;
		align-items: center;
		transition: transform $delay--total / 2 $t-smooth_two, opacity $delay--total / 2 $t-smooth_two;
		&:hover {

			img {
				transform: translate3d(0, 1rem, 0) rotateX(10deg) rotateY(-15deg) rotateZ(5deg);
				opacity: 0.75;
			}
		}
		img {
			transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
			max-width: 25vh;
		}

		blockquote {
			text-align: center;
			position: absolute;
			max-width: initial;
			margin: 0;
		}
		@media screen and (min-width: $tablet-breakpoint) {
			margin: $s-main 0 $s-main / 2 0;

			img {
				max-width: 65vh;
			}
		}
	}

h3 {
	max-width: $s-main * 8;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: margin-bottom(4);
}
	.text-container__links {
		margin: 0;
		padding: 0;
		columns: 2;
		column-gap: 0;
		list-style: none;
		width: auto;
		max-width: $s-main * 8;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $s-main / 2;
	}
}
