body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	background-color: $c-black;
	// transition: all $delay__main * 2 $t-smooth_one;
	// &:hover {
	// 	transform: translateY(calc(#{$s-main} / -2));
	// }
}
