.text-container--resume {
  h3 {
    margin-top: $s-main / 2;
    max-width: $s-main * 8;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $tablet-breakpoint) {
      margin-top: $s-main;
    }
  }

  h3 + p {
    margin-bottom: $s-main / 2;
  }
}

.resume--item {
  display: flex;
  max-width: $s-main * 8;
  margin-left: auto;
  margin-right: auto;
  @include margin-top(1);

  .resume--item__year {
    margin-top: 5px;
    margin-right: $s-main / 4;
    @media screen and (min-width: $tablet-breakpoint) {
      margin-right: $s-main / 2;
    }
  }
}

nav {
  @include margin-top(1);
  @include margin-bottom(1);
}
